/* @group Globalfooter */
@media screen,projection {
	
.nrk-globalfooter {
	font-family: Arial, sans-serif !important;
	border-top: 4px solid #059;
	padding: 5px 0 20px;
	background: #000;
	display: block;
	clear: both;
	color: #fff;
}
.nrk-globalfooter div {
	line-height: 1.6;
	overflow: hidden;
	width: 970px;
	margin: auto;
}
.nrk-globalfooter h5 {
	text-align: center;
}
.nrk-globalfooter ul {
	font-size: 12px;
	width: 475px;
	margin: 10px 0;
	float: left;
}
.nrk-globalfooter a {
	text-decoration: underline;
	margin-right: 18px;
	color: #fff;
}
.nrk-globalfooter a:hover {
	text-decoration: none;
	color: #39F;
}


}
/* @end */
